.hero-section {
    width: 100%;
    height: 97vh;
    position: relative;
}

.hero-content {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    width: 100%;
}

.bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40rem;
}

.hero-content__text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-width: 50rem;
    margin-top: 0rem;
    left: 8rem;
    position: relative;
}

.hero-content__text h4 {
    font-size: 1.5rem;
    font-family: Rubik;
    color: black;
}

.hero-content__text h1 {
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 900;
    color: black;
    line-height: 1.2;
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    max-width: 500px;
}

.hero-content__text h1 span {
    color: #4169e1;
}

.hero-content__text p {
    font-size: 1em;
    font-family: Rubik;
    font-weight: 100;
    line-height: 1.6;
    max-width: 550px;
    color: gray;
    margin-bottom: 2.5rem;
}

.hero-content__text__btns {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
    font-family: Rubik;
}

.hero-content__text__btns a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.hero-content__text__btns__book-ride {
    background-color: #4169e1;
    padding: 1.8rem 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(89, 48, 255, 0.35);
    transition: all 0.3s;
    border: 2px solid #4169e1;
}

.hero-content__text__btns__book-ride:hover {
    box-shadow: 0 10px 15px 0 #c3d1fc;
    background-color: #3553ac;
}

.hero-content__text__btns__learn-more {
    background-color: black;
    padding: 1.8rem 1.5rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    transition: all 0.3s;
}

.hero-content__text__btns__learn-more:hover {
    background-color: transparent;
    color: black;
}

.hero-content__car-img {
    z-index: 2;
    position: absolute;
    right: 7rem;
    width: 55%;
    margin-top: 5rem;
}

.scroll-up {
    position: fixed;
    font-size: 1rem;
    color: white;
    background-color: #4169e1;
    border: 3px solid white;
    width: 1rem;
    height: 1rem;
    bottom: 5rem;
    right: 5rem;
    z-index: 20;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

.show-scroll {
    display: flex;
}




@media (max-width: 450px) {
    .hero-content__text__btns {
        flex-direction: column;
    }

    .hero-content__text__btns__book-ride {
        padding: 1.8rem 8rem;
    }
}



@media (max-width: 800px) {
    .bg-shape {
        display: none;
    }

    .hero-content {
        justify-content: center;
    }

    .hero-content__text {
        text-align: center;
        align-items: center;
    }

    .hero-content__car-img {
        display: none;
    }

    .scroll-up {
        bottom: 2rem;
        right: 2rem;
    }

}

@media(max-width:1200px) {
    .hero-content__car-img {
        right: 0;
    }

    .hero-content__text {
        left: 0;
    }
}


/* custom scrollbar (with color) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4169e1;
    border-radius: 5px;
}