.pick-section {
    padding: 5rem 0;
    padding-top: 0;
    font-family: Poppins;
}

.pick-container {
    display: flex;
    flex-direction: column;
}

.pick-container__title {
    margin: 0 auto;
    text-align: center;
    color: black;
    max-width: 32rem;
    margin-bottom: 2rem;
}

.pick-container__title p {
    font-size: 16px;
    color: gray;
    line-height: 1.5;
}

.pick-container__title h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.pick-container__title h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0 1rem 0;
}


.pick-container__car-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 1050px) {
    .pick-container__car-content {
        flex-direction: column;
        gap: 5rem;
    }
}

.pick-box {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.pick-box button {
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 1rem 2.5rem;
    background-color: #e9e9e9;
    transition: all 0.2s;
    text-align: left;
}

.pick-box button:hover {
    background-color: #4169e1;
    color: white;
}

/* car image */
.pick-car {
    width: 30rem;
    position: relative;
}

@media (max-width: 700px) {
    .pick-car {
        width: 100%;
    }
}

.pick-car img {
    width: 100%;
    margin-top: 2rem;
}


/* table */

.pick-description {
    width: 15rem;
}

.pick-description__price {
    width: 100%;
    background-color: #4169e1;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 1rem 0rem 0.9rem 0rem;
    white-space: nowrap;
}

.pick-description__price span {
    margin-left: 10px;
    font-size: 1.7rem;
    font-weight: 700;
}

.pick-description__table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 1rem;
    /* // font-family: $text-font; */
}

.pick-description__table__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-template-rows: auto;
    padding: 0.9rem 0.5rem;
    border-bottom: 2px solid #706f7b;
    border-right: 2px solid #706f7b;
    border-left: 2px solid #706f7b;
}

.pick-description__table span:nth-child(1) {
    border-right: 2px solid #706f7b;
}

/* reserve now button */

.cta-btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #4169e1;
    padding: 0.5rem 0.1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.4rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 0 #efe9e9;
}

.cta-btn:hover {
    background-color: #3553ac;
}